.modal {
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.65);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    pointer-events: none;
    z-index: 9999;
    color: firebrick;
    font-size: 15px;

}

.modal.active {
    transform: scale(1);
    opacity: 1;
    pointer-events: all;

}

.modal_content {
    padding: 20px;
    border-radius: 5px;
    background-color: #fff;
    width: 600px;
    transform: scale(0.5);
    transition: all 0.1s;
}

.modal_content.active {
    transform: scale(1);
}